.footer {
	padding: 70px 20px 40px;
	// .footer__body
	&__body {
	}

	// .footer__top
	&__top {
		display: flex;
		justify-content: space-around;
		// align-items: flex-start;
		gap: 120px;
		margin-bottom: 40px;
	}

	// .footer__column
	&__column {
		display: flex;
		flex-direction: column;
		gap: 20px;
		height: auto;
	}

	// .footer__logo
	&__logo {
		a{
			color: $white;
		}
	}

	// .footer__socials
	&__socials {
		display: flex;
		gap: 29px;
		align-items: center;
	}

	// .footer__sociallink
	&__sociallink {
		font-size: 31px;
		color: $white;

		&-in {
			&:hover {
				path {
					stroke: $instargam;
				}
			}
		}
		&-tw {
			&:hover {
				path {
					stroke: $telegram;
				}
			}
		}
		&-fb {
			&:hover {
				path {
					stroke: $facebook;
				}
			}
		}
	}

	// .footer__name
	&__name {
		color: rgba($color: $white, $alpha: .6);
		margin-bottom: 4px;
	}

	// .footer__item
	&__item {
		color: $white;
		font-family: "MavenPro";
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		span {
			display: block;
		}
	}

	// .footer__bottom
	&__bottom {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-top: auto;
		span {
			color: rgba($white, 0.60);
			font-family: "MavenPro";
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}
}

