.page {
	min-height: 100vh;


	// .page__bg
	&__bg {
		img{
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100vw;
			object-fit: cover;
		}
	}

	// .page__hero
	&__hero {
	}
}

.heropage {
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: 100vh;
	padding: 0 80px;
	// .heropage__title
	&__title {
		color: $white;
		font-family: Maven Pro;
		font-size: 96px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		span{
			padding-left: 200px;
			display: block;
			font-family: Nothing You Could Do;
		}
		margin-bottom: 60px;
	}

	// .heropage__text
	&__text {
		span{
			color: $white;
			font-family: Maven Pro;
			font-size: 24px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}

		margin-bottom: 50px;
	}

	//.heropage__btns
	&__btns{
		margin-bottom: 200px;
		display: flex;
	}

	// .heropage__btn
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 400px;
	}
}

.container {
}
.page {

		// .page__content

		&__content {
			padding-top: 110px;
			padding-bottom: 220px;
		}

		// .page__title

		&__title {
			display: flex;
			align-items: center;
			gap: 120px;
			justify-content: end;
			span{
				color: $optional;
				font-family: Nothing You Could Do;
				font-size: 96px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}

		// .page__titleline

		&__titleline {
			width: 50%;
			height: 5px;
			background-color: $optional;
		}

		// .page__gallery

		&__gallery {
			margin: 50px 130px;
			height: 500px;
			border: 1px solid $optional;
		}

		// .page__btns

		&__btns {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		// .page__btn
		&__btn {
			width: 400px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
}
.gallery {
}
