.page {
	// .page__bg
	&__bg {
		img{
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100vw;
			object-fit: cover;
		}
	}

	// .page__hero
	&__hero {
	}

	// .page__content
	&__content {
		position: relative;
	}

	// .page__img
	&__img {
		position: absolute;
		inset: 0;
		width: 100%;
		img{
			z-index: -1;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .page__body
	&__body {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	// .page__aboutme
	&__aboutme {
		min-height: 1024px;
	}

	// .page__slider
	&__slider {
	}

	// .page__title
	&__title {
		display: flex;
		align-items: center;
		gap: 120px;
		justify-content: end;
		margin-bottom: 50px;
		span{
			color: $optional;
			font-family: Nothing You Could Do;
			font-size: 96px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}

	// .page__titleline
	&__titleline {
		width: 50%;
		height: 5px;
		background-color: $optional;
	}

	// .page__gallery
	&__gallery {
		margin: 0 130px 50px;
	}

	// .page__btns
	&__btns {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .page__btn
	&__btn {
		width: 400px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .page__cards
	&__cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
	}
}

.heropage {
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: 100vh;
	padding: 0 80px;
	// .heropage__title
	&__title {
		color: $white;
		font-family: Maven Pro;
		font-size: 96px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		span{
			padding-left: 200px;
			display: block;
			font-family: Nothing You Could Do;
		}
		margin-bottom: 60px;
	}

	// .heropage__text
	&__text {
		span{
			color: $white;
			font-family: Maven Pro;
			font-size: 24px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}

		margin-bottom: 50px;
	}

	//.heropage__btns
	&__btns{
		margin-bottom: 200px;
		display: flex;
	}

	// .heropage__btn
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 400px;
	}
}

.gallery {
	display: grid;
	grid-gap: 20px;
	justify-content: center;
	grid-template-columns: repeat(21, 1fr);
	grid-template-rows:  repeat(25, 1fr);
	aspect-ratio: 1/1;
	// .gallery__item
	&__item {
	}

	// .gallery__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// .gallery__item-1
	&__item-1 {
		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 13;
	}

	// .gallery__item-2
	&__item-2 {
		grid-column-start: 7;
		grid-column-end: 22;
		grid-row-start: 1;
		grid-row-end: 7;
	}

	// .gallery__item-3
	&__item-3 {
		grid-column-start: 7;
		grid-column-end: 13;
		grid-row-start: 7;
		grid-row-end: 13;
	}

	// .gallery__item-4
	&__item-4 {
		grid-column-start: 13;
		grid-column-end: 22;
		grid-row-start: 7;
		grid-row-end: 26;
	}

	// .gallery__item-5
	&__item-5 {
		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 13;
		grid-row-end: 26;
	}

	// .gallery__item-6
	&__item-6 {
		grid-column-start: 7;
		grid-column-end: 13;
		grid-row-start: 13;
		grid-row-end: 26;
	}
}


.aboutme {
	position: relative;
	color: $red;
	display: flex;
	justify-content: flex-end;
	padding-top: 180px;
	margin-right: 210px;
	// .aboutme__body
	&__body {
	}

	// .aboutme__title
	&__title {
		font-family: Nothing You Could Do;
		font-size: 64px;
		font-style: normal;
		font-weight: 400;
		line-height: 125%; /* 80px */

		margin-bottom: 10px;
	}

	// .aboutme__text
	&__text {
		max-width: 550px;

		font-family: Maven Pro;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		p {
			margin-bottom: 15px;
		}
		ul {
			padding-left: 40px;
		}
		ul,li {
			list-style: disc outside;
		}
	}
}


.card {
	position: relative;
	border-radius: 8px;
	border: 1px solid $white;
	padding: 100px 23px;
	// .card__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		gap: 20px;
		height: 100%;
	}

	// .card__row
	&__row {
		text-align: center;
		max-width: 280px;
		flex: 0 0 auto;
		&-d{
			flex: 1 0 auto;
		}
	}

	// .card__title
	&__title {
		color: $white;
		font-family: Maven Pro;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	// .card__text
	&__text {
		color: $white;
		text-align: center;
		font-family: Maven Pro;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	// .card__desc
	&__desc {
		span{
			display: block;

			color: $white;
			font-family: Maven Pro;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}

	// .card__cost
	&__cost {
		color: $white;
		font-family: Maven Pro;
		font-size: 36px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	// .card__btns
	&__btns {
		display: flex;
	}

	// .card__btn
	&__btn {
		padding: 21px 48px;
		span{
		}

		&:active {
			&~.card__effect {
				transition: all .3s ease 0s;
				opacity: 1;
			}
		}
	}

	// .card__effect
	&__effect {
		transition: all 0.3s ease 0s;
		z-index: -1;
		position: absolute;
		inset: 0;
		background: radial-gradient(87.92% 79.32% at 50.00% 50.00%, rgba($effect, 0.50) 0%, rgba($red, 0.50) 82.22%), $red;
		opacity: 0;
	}
}

.contactme {
	max-width: 620px;
	position: relative;
	padding: 50px 70px;
	border-radius: 8px;
	background-color: rgba(36, 36, 36, 0.40);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 140px;
	//filter: blur(5px);
	// .contactme__title
	&__title {
		margin-bottom: 40px;
		span {
			color: $white;
			font-family: Maven Pro;
			font-size: 64px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			letter-spacing: 1.92px;
		}
	}

	// .contactme__row
	&__row {
		width: 100%;
		margin-bottom: 40px;

		input {
			max-width: 400px;
			width: 100%;
			border: none;
			border-bottom: 1px solid $white;
			background-color: transparent;
			padding: 16px 15px;

			color: $white;
			font-family: Maven Pro;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;

			&::placeholder {
				color: rgba($white, 0.40);
			}
		}
		textarea {
			border-radius: 8px;
			border: 1px solid $white;
			background-color: transparent;
			padding: 12px 15px;
			max-width: 400px;
			width: 100%;
			height: 224px;

			color: $white;
			font-family: Maven Pro;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;

			&::placeholder {
				color: rgba($white, 0.40);
			}
		}
	}

	// .contactme__checkbox
	&__checkbox {
	}

	// .contactme__btns
	&__btns {
		display: flex;
	}

	// .contactme__btn
	&__btn {
		padding: 21px 65px;
	}
}

.slider {
	// .slider__body
	&__body {
		width: 100%;
	}

	// .slider__cart
	&__cart {
	}

	// .slider__dotts
	&__dotts {
		margin-top: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		.swiper-pagination-bullet {
			flex: 0 0 17px;
			width: 17px;
			height: 17px;
			background-color: rgba($color: #FCFFFF, $alpha: .3);
			border-radius: 50%;
			margin: 0px 4px 0px 0px;
		}
		.swiper-pagination-bullet-active {
			flex: 0 0 26px;
			width: 26px;
			height: 17px;
			border-radius: 80px;
			background-color: $white;
		}
	}
}

.cartslider {
	
	background-color: $cartbg;
	max-width: 660px;
	display: flex;
	gap: 20px;
	transition: filter .8s ease 0s;
	filter: blur(3px);
	// .cartslider__img
	&__img {
		img{
			width: 240px;
			height: 380px;
		}
	}

	// .cartslider__body
	&__body {
		padding: 50px 0;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	// .cartslider__text
	&__text {
		max-width: 280px;

		span {
			color: $white;
			font-family: Maven Pro;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 0.6px;
		}
	}
}

.swiper-slide-active {
	.cartslider{
		transition: filter .8s ease 0s;
		filter: blur(0);
	}
}