// Container & Breakponts
@use "sass:math";
$containerWidth: 1440;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1400: 1339.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

// Fonts
$fontMain: 'Gilroy',sans-serif;

// Colors
$red: #291C1C;
$white: #FAFAFA;
$btn: #408180;
$effect:#956C64;
$sd: #3B4E4C;
$optional: #D7CFCF;
$cartbg: #4E3939;

